* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

body {
    background: #000;
    color: #fff;
}

.hero {
    height: 100vh;
    background: url("dodge-challenger-20890.avif") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    padding: 60px;
}


.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(0,0,0,0.85),
        rgba(0,0,0,0.3)
    );
}


.content {
    position: relative;
    max-width: 600px;
}

.badge {
    color: #ff3c00;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.content h1 {
    font-size: 64px;
    margin: 15px 0;
}

.content p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 30px;
}


.btn {
    display: inline-block;
    padding: 14px 30px;
    background: #ff3c00;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background: #ff5a2a;
}


.stats {
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

.stats h3 {
    font-size: 24px;
}

.stats span {
    font-size: 13px;
    color: #aaa;
}
